.DS_Store
.idea/
.vscode/
node_modules/
.next/
out/
coverage/
dist/
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.log
.env
.env.local
apps/web/.env.local
apps/mobile/.env.production
*firebase-adminsdk*.json
apps/web/.next_*
